.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6332, #f6402d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header_navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header_navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.705);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #ff8274;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header_navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header_navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__title--no-pointer {
    cursor: text;
    color: var(--white-color);
}